@page
@model EventTrainer.Pages.Training.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">



    <div class="col-md-8 col-lg-6">
        <h1 class="display-4">Delete</h1>

        <h3 class="my-4 text-danger">Are you sure you want to delete this?</h3>

        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h4 class="card-title">Training Details</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.TrainingDone.Date)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.TrainingDone.Date)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.TrainingDone.Distance)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.TrainingDone.Distance)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.TrainingDone.TimeTaken)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.TrainingDone.TimeTaken)
                    </dd>
                </dl>
            </div>
        </div>

    </div>

    <form method="post" class="d-flex gap-2">
        <input type="hidden" asp-for="TrainingDone.ID" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>


